{{#> layout}}
    {{#*inline "content"}}
        <h1>{{title}}</h1>
        Welcome {{title}}
        <ul>
            <li><a href="/users">users</a></li>
            <li><a href="/users/add">add user</a></li>
        </ul>
    {{/inline}}
{{/layout}}
