<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
    <script src="/js/chat.js" defer>console.log({{{userLogin}}})</script>
</head>
<body>

<h1>Chat</h1>

<div>
    <p>
        <label for="userToSend">user to send: </label><input type="text" id="userToSend">
        <label for="message">message: </label><input type="text" id="message">
        <input id="send" type="button" value="Wyślij">
    </p>
    <p>
        <span id="message"></span>
    </p>
</div>

</body>
</html>