#black {
    height: 25px;
    width: 25px;
    background-color: black;
    border: 1px solid white;
    border-radius: 50%;
}

#white {
    height: 25px;
    width: 25px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
}

#move {
    display: flex;
    flex-direction: row;
    gap: 10px;
}