<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat /{{topic}}</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const topic = "{{topic}}"
        const username = "{{username}}"
    </script>
    <script src="/js/chats/chat.js" defer></script>
</head>
<body>

<h1>/{{topic}}</h1>

<div>
    <p>
        <label for="text">message: </label><input type="text" id="text">
        <input id="send" type="button" value="Wyślij">
    </p>
    <p>
        <div id="message-container"></div>
    </p>
</div>

</body>
</html>