{{#> layout}}
    {{#*inline "content"}}
        <h1>Login</h1>
        {{name}} login page
        <form action="/chats/{{name}}" method="post">
            <label for="password">password: </label><input type="password" id="password" name="password" value="">
            <input type="submit" value="Login">
        </form>
    {{/inline}}
{{/layout}}
